<head>
  <title><%= title %></title>
  <link rel="icon" href="/img/favicon.png" />
  <script src="https://kit.fontawesome.com/c3943b9f34.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

  <script src="/js/script.js" ></script>
  <script src="/js/dropdownSelect.js" ></script>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/products.css" type="text/css" />
  <link rel="stylesheet" href="/css/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/css/signup.css" type="text/css" />
  <link rel="stylesheet" href="/css/category.css" type="text/css" />
  <link rel="stylesheet" href="/css/dropdown.css" type="text/css" />
</head>
