<h1>About ShoeShop</h1>
<img src="/images/dsw-store-exteriorlarge_750xx840-473-0-26.jpg" alt="Store front" />
<p class=about-text>Shoe Shop was created by three individuals with a plan to supply New Zealanders with the
    highest of quality products at the lowest of prices. Shoe Shop gives customers convenient, easy and secure shopping.
    You will be given the option to create an account as a member of shoe store where you will be able to add products to
    the cart.
</p>
<p class=about-text-question>Will we disclose personal information to others?</p>
<p class=about-text>We do not sell, trade or rent your personal information to others.  However, we do use other companies
    and individuals to perform services on our behalf, such as delivering packages, sending mail and emails
    and processing payments. They will have access to your personal information needed to perform these services,
    but we will not authorise them to use your information for other purposes.
</p>
<img src="/images/store0557-02-shoes.jpeg" alt="Inside Store" />
<br>
<br>
<p class=about-text-question>Colours:</p>
<p class=about-text>Every effort has been made to portray the colours of our products that appear on this website as
    accurately as possible. However, because the actual colours you see depend on the monitor you are using, we cannot
    guarantee that the online display of any colour will be completely accurate.
</p>
<img src="/images/storeint.jpg" alt="Inside Store 2" />
<br>
<br>