<h2>Checkout Form</h2>
<div class="checkout-row">
  <div class="checkoutcol-75">
    <div class="checkout-container">
      <form action="/checkout/"  method="post">
      
        <div class="checkout-row">
          <div class="checkoutcol-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Names</label>
            <input type="text" id="fname" name="firstname" placeholder="FirstName">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="Enter Email">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Enter Your Address">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="City">

            <div class="checkout-row">
              <div class="checkoutcol-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="State">
              </div>
              <div class="checkoutcol-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="">
              </div>
            </div>
          </div>

          <div class="checkoutcol-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="Card Name">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="Card Number">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="Exp Month">
            <div class="row">
              <div class="checkoutcol-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="Year">
              </div>
              <div class="checkoutcol-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="CVC">
              </div>
            </div>
          </div>
          
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input id="submit" type="button" type="button" value="Submit" onclick="submitF(this.form);" class="checkout-btn">
      </form>
    </div>
  </div>
  <div class="checkoutcol-25">
    <div class="checkout-container">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
        </h4>
        <ul class="list-group mb-3">
          <% if (data.cart.items.length > 0) { %>
            <% for (let i = 0; i < data.cart.items.length; i++) { %>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0"><%= data.cart.items[i].new_item.name %></h6>
                  <small class="text-muted"><%= data.cart.items[i].new_item.description %></small>
                </div>
                <span class="text-muted">$<%= data.cart.items[i].new_item.cost %></span>
              </li>
            <% } %>
          <% } %>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Shipping</h6>
            </div>
            <span class="text-muted">$15</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>$<%= data.cart.totalCost + 15 %></strong>
          </li>
        </ul>
    </div>
  </div>
</div>
