<form action="/auth/login/local" method="POST">
  <label for="username">Email: </label>
  <input type="text" name="username" required />
  <br />
  
  <label for="password">Password: </label>
  <input type="password" name="password" required />
  <br />
  
  <input type="submit" value="Login" />
</form>

<a href="/auth/login/facebook">Login with facebook</a>
<a href="/auth/signup">Sign up</a>
<a href="/auth/forgot">Forgot your password?</a>