<% if (data.products.length === 0) { %>
  <p>No Products Found</p>
<% } %>

<% for(let i = 0; i < data.products.length; i++) { %>
  <%- include('partials/cell', {product: data.products[i]}) %>
<% } %>